<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="ECE1779H Assignment 1">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='nicepage.css')}}" media="screen">
    <link rel="stylesheet" href="{{url_for('static', filename='Home.css')}}" media="screen">
    <script class="u-script" type="text/javascript" src="{{url_for('static', filename='nicepage.js')}}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{{url_for('static', filename='jquery.js')}}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i">
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>
  <body data-home-page="Home.html" data-home-page-title="Home" class="u-body u-xl-mode"><header class="u-clearfix u-custom-color-1 u-header u-header" id="sec-579e"><div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-align-right u-custom-font u-font-ubuntu u-headline u-text u-text-1">
          <a href="/">Main Page</a>
        </h3>
        <h2 class="u-align-right u-custom-font u-font-ubuntu u-subtitle u-text u-text-2">ECE1779H Assignment 1</h2>
      </div></header>
    <section class="u-clearfix u-image u-section-1" id="sec-2889" data-image-width="3412" data-image-height="1080">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                <a href="{{url_for('upload')}}" class="u-border-none u-btn u-button-style u-custom-color-2 u-custom-item u-hover-custom-color-3 u-btn-1">upload</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
                <a href="{{url_for('browse')}}" class="u-border-none u-btn u-button-style u-custom-color-2 u-custom-item u-hover-custom-color-3 u-btn-2">browse</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
                <a href="{{url_for('keylist')}}" class="u-border-none u-btn u-button-style u-custom-color-2 u-custom-item u-hover-custom-color-3 u-btn-3">key list</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
                <a href="{{url_for('configs')}}" class="u-border-none u-btn u-button-style u-custom-color-2 u-custom-item u-hover-custom-color-3 u-btn-4">configs</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                <a href="{{url_for('status')}}" class="u-border-none u-btn u-button-style u-custom-color-2 u-custom-item u-hover-custom-color-3 u-btn-5">statistics</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-f770"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Created by&nbsp;<a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" href="ephemer1s.github.io">ephemer1s</a>
          <br>
          <br>Watashimo +1
        </p>
      </div></footer>
  </body>
</html>