<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="upload-center"><style>.upload-center{width:600px; margin: 0 auto;}</style>
        <h1>Image Uploader</h1>

        <form action="{{ url_for('put')}}" enctype='multipart/form-data' method="post">
            <label>key:</label>
            <input type="text" name="key" />
            <input type="file" name="file" id="file" accept="image/*"/>
            <input type="submit" value="Submit" />
        </form>

        <br>
        <form action="{{url_for('backHome')}}" method="get">
            <input type='submit' value='Home' />
        </form>
    </div>
</body>
</html>