# a1
a1/

# general
__pycache__/
.venv/
.idea/
Paxheader/
*.DS_Store
node_modules/

# a2
a2/images/
a2/uploads/
a2/backEnd/cacheImageFolder/
a2/**/install.py
a2/**/credential.py

a2/logs/
*.log
*.png

# a3
a3/tools/credential.py
a3/package-lock.json
a3/package.json
*.zip
lambda-deploy/
lambda-deploy-test/
mylambdalayer/
*.whl
