<!DOCTYPE html>
<head>
    <title>Memcache Configerations</title>
</head>

<html>
    <body>
        <h1>Memcache Configerations</h2>

        <form action="{{ url_for('configsUpdate')}}" method="post">
            <label>Memcache Capacity (4096 max):</label><br>
            <input type="number" name="capacityMB" min="1" max="4096"/> <label>MB</label><br><br>
                
            <label>Memcache Replacement Policy:</label><br>
            <input type="radio" name="replacepolicy" value="0"> Random Replacement<br>
            <input type="radio" name="replacepolicy" value="1" checked="checked"/> Least Recently Used<br><br>

            <input type="submit" value="Confirm">

        </form>

    </body>    
</html>